In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_excel('data/stte_1990a.xlsx')
df

,1990FY,Unnamed: 1,Unnamed: 2,$,Row,Unnamed: 5,$0100,$0200,$0300,$0400,...,$1401,$1402,Unnamed: 26,Unnamed: 27,Unnamed: 28,$1420,$1450,Unnamed: 31,$1490,$1499
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,損失,損失,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,石 炭,石炭製品,原 油,石油製品,...,エネルギー利用,非エネルギー利用,NaN,NaN,NaN,電力寄与損失配分,熱寄与損失配分,NaN,総合計 / 電力･熱寄与損失配分後合計,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Coal,Coal Products,Crude Oil,Oil Products,...,Energy Use Total,Non-Energy Use Total,NaN,NaN,NaN,Indirect Energy Consumption Associated with E...,Indirect Energy Consumption Associated with H...,NaN,Grand Total / Direct and Indirect Energy Cons...,NaN
3,NaN,<< Original Unit >>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,エネルギー利用分
4,NaN,固有単位表,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Grand Total, for Energy Use"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,#36,NaN,Freight,貨 物,NaN,NaN,0,0,0,39163.541912,...,1496511.382821,8828.509011,NaN,NaN,NaN,6425.618108,0,NaN,1511765.509939,1502937.000929
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,#37,NaN,Final Energy Consumption (Non-energy and Feed...,非エネルギー利用 (最終消費内数),NaN,NaN,233.602,1018.611967,0,38954.757697,...,0,1539963.081607,NaN,NaN,NaN,0,0,NaN,1539963.081607,0
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1990FY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN